@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    position: relative;
    width: 100%;
    height: 100vh; 
}
nav{
    background: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 60px;
}
label.logo{
    color: #1e90ff;
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    color: #1e90ff;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    transition: 0.3s ease;
}
nav ul li a:hover,.active{
    color: crimson;
}
.menubtn i{
    color: #fff;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

.aboutme .aboutme_title h1{
    padding-top: 80px;
    text-align: center;
    padding-bottom: 45px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.aboutme .topic p span{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.aboutme .topic p{
    padding-right: 22rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 22rem;
}
@media (max-width: 800px){
    nav .menubtn i{
        display: block;
        color: #1e90ff;
    }
    #click:checked ~ .menubtn i::before{
        content: "\f00d";
    }
    
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #fff;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    .aboutme .aboutme_title h1{
        padding-top: 3%;
        font-size: 25px;
    }
    .aboutme .topic p span{
        font-size: 17px;
    }
    .aboutme .topic p{
        font-size: 14px;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
