@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
nav{
    background: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 60px;
}
label.logo{
    color: #1e90ff;
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    color: #1e90ff;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    transition: 0.3s ease;
}
nav ul li a:hover,.active{
    color: crimson;
}
.menubtn i{
    color: #fff;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
#skill_section{
    width: 100%;
    height: auto;
    padding: 80px 13%;
}
.skill-head{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skill-head h2{
    margin-bottom: -5px;
    font-family: "Poppins",sans-serif;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;

}
.skillfont{
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
.skill-main .skill-bar .info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

}
.skill-main .skill-bar .info .percent{
    font-weight: bold;
}
.skill-bar .bar{
    width: 100%;
    height: 10px;
    position: relative;
    background-color:rgba(0, 0, 0, 0.199);
    border-radius: 25px;
    margin-top: 5px;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #1e90ff;
    border-radius: 25px;
}
.skill-bar .bar .html{
    width: 80%;
    animation: html 3s;
}
.skill-bar .bar .css{
    width: 65%;
    animation: css 3s;
}
.skill-bar .bar .javascript{
    width: 50%;
    animation: javascript 3s;
}
.skill-bar .bar .python{
    width: 60%;
    animation: python 3s;
}
.skill-bar .bar .C{
    width: 50%;
    animation: C 3s;
}
.skill-bar .bar .java{
    width: 40%;
    animation: java 3s;
}
@keyframes html {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
}
}
@keyframes css {
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    
}  
}
@keyframes javascript {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    
}  
}
@keyframes python {
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    
}  
}
@keyframes C {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    
}  
}
@keyframes java {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    
}  
}
@media (max-width: 800px){
    nav .menubtn i{
        display: block;
        color: #1e90ff;
    }
    #click:checked ~ .menubtn i::before{
        content: "\f00d";
    }
    
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #fff;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    #skill_section{
        padding-top: 3%;
    }
    .skill-head{

        margin-bottom: 50px;
    }
    .skill-head h2{
        font-size: 25px;
    }
    .skill-main{
        display: block;
        
    }
    .skill-main .skill-bar .info{
        padding-top: 22px;
    }
    .skill-bar .bar{
        margin-top: 2px;
    }

}
